img{
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Reamoving the spin buttons (arrow buttons) from input type: number */
/* Chrome, Safari, Edge, Opera */
.teams input::-webkit-outer-spin-button,
.teams input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Changing styles of placeholder */
::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

/* Styling for dark mode toggle button*/
.toggle{
    z-index: 4;
    position: absolute;
    top: 15px;
    right: 20px;
}
.toggle input[type='checkbox']{
    display: none;
}
.toggle label {
    background-color: #777;
    border: 2px solid #555;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 100px;
    height: 50px;
}

.toggle label::after {
    background-color: #555;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 42px;
    height: 42px;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
}

.toggle input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(50px);
}
